<div class="flex p-2 justify-between w-full overflow-hidden">
	<div class="text-black p-2 font-semibold text-lg">Skills</div>
	<a
		href="/admin/skill/create"
		class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
		>Add Skill</a
	>
</div>
<div class="w-full mt-2.5 bg-gray-50 rounded-lg shadow-md overflow-hidden border border-gray-200">
	<!-- Card Content -->
	<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
		<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
			<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
				<tr>
					<th
						scope="col"
						class="px-6 py-3"
					>
						Skill Name
					</th>
					<th
						scope="col"
						class="px-6 py-3"
					>
						Level
					</th>
					<th
						scope="col"
						class="px-6 py-3"
					>
						Image
					</th>
					<th
						scope="col"
						class="px-6 py-3"
					>
						order no
					</th>
					<th
						scope="col"
						class="px-6 py-3"
					>
						Action
					</th>
				</tr>
			</thead>
			<tbody>
				<% for (let i = 0; i < skills.length; i++) { %>
				<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
					<th
						scope="row"
						class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
					>
						<%= skills[i].name %>
					</th>
					<td class="px-6 py-4"><%= skills[i].level %></td>
					<td class="px-6 py-4">
						<a
							href="/storage/skill/<%= skills[i].image %>"
							target="_blank"
							>Click to view</a
						>
					</td>
					<td class="px-6 py-4"><%= skills[i].order %></td>
					<td class="px-6 py-4">
						<button
							id="dropdownMenuIconHorizontalButton"
							data-dropdown-toggle="dropdownDotsHorizontal"
							class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
							type="button"
						>
							<svg
								class="w-5 h-5"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 16 3"
							>
								<path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
							</svg>
						</button>
						<div
							id="dropdownDotsHorizontal"
							class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
						>
							<ul
								class="py-2 text-sm text-gray-700 dark:text-gray-200"
								aria-labelledby="dropdownMenuIconHorizontalButton"
							>
								<li>
									<a
										href="/admin/skill/edit/<%= skills[i].id %>"
										class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
										>Edit</a
									>
								</li>
							</ul>
						</div>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<nav
			class="flex items-center flex-column flex-wrap md:flex-row justify-between p-4"
			aria-label="Table navigation"
		>
			<span class="text-sm font-normal text-gray-600 dark:text-gray-600 mb-4 md:mb-0 block w-full md:inline md:w-auto"
				>Showing <span class="font-semibold text-gray-900 dark:text-white">1-10</span> of <span class="font-semibold text-gray-900 dark:text-white">1000</span></span
			>
			<ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
				<li>
					<a
						href="#"
						class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
						>Previous</a
					>
				</li>
				<li>
					<a
						href="#"
						class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
						>1</a
					>
				</li>
				<li>
					<a
						href="#"
						class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
						>2</a
					>
				</li>
				<li>
					<a
						href="#"
						aria-current="page"
						class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
						>3</a
					>
				</li>
				<li>
					<a
						href="#"
						class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
						>4</a
					>
				</li>
				<li>
					<a
						href="#"
						class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
						>5</a
					>
				</li>
				<li>
					<a
						href="#"
						class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
						>Next</a
					>
				</li>
			</ul>
		</nav>
	</div>

	<!-- Card Footer -->
	<!-- <div class="bg-gray-100 px-4 py-3 flex justify-end">
       <button class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-300">
           Action
       </button>
   </div> -->
</div>
